{{define "title"}}Change Password{{end}}

{{define "main"}}
<main>
    <h1>Change Password</h1>

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="new-password" required>
            {{with .FormErrors.Password}}
            <span class="form-error">{{.}}</span>
            {{end}}
        </div>
        <div>
            <label for="confirm">Confirm</label>
            <input type="password" name="confirm" id="confirm" autocomplete="new-password" required>
            {{with .FormErrors.Confirm}}
            <span class="form-error">{{.}}</span>
            {{end}}
        </div>
        <button>Change Password</button>
    </form>
</main>
{{end}}

{{define "scripts"}}{{end}}
