{{define "title"}}pricetag{{end}}

{{define "main"}}
<main>
    <h1>
        pricetag
    </h1>
    <div class="flex flex-wrap gap-x-16">
        <section>
            <h2 class="mb-4">
                Login
            </h2>
            <form action="/auth/login" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div>
                    <label for="login-username">Username</label>
                    <input type="text" name="username" id="login-username" autocomplete="username" required>
                </div>
                <div>
                    <label for="login-password">Password</label>
                    <input type="password" name="password" id="login-passowrd" autocomplete="username" required>
                </div>
                <button>Login</button>
            </form>
        </section>
        <section>
            <h2 class="mb-4">
                Sign up
            </h2>
            <form action="/auth/signup" method="POST">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div>
                    <label for="signup-username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="signup-username"
                        autocomplete="username"
                        required
                    >
                    {{with .FormErrors.Username}}
                    <span class="form-error">{{.}}</span>
                    {{end}}
                </div>
                <div>
                    <label for="signup-password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="signup-password"
                        autocomplete="new-password"
                        required
                    >
                    {{with .FormErrors.Password}}
                    <span class="form-error">{{.}}</span>
                    {{end}}
                </div>
                <div>
                    <label for="signup-confirm">Confirm</label>
                    <input
                        type="password"
                        name="confirm"
                        id="signup-confirm"
                        autocomplete="new-password"
                        required
                    >
                    {{with .FormErrors.Confirm}}
                    <span class="form-error">{{.}}</span>
                    {{end}}
                </div>
                <button>Sign up</button>
            </form>
        </section>
    </div>
</main>
{{end}}

{{define "scripts"}}{{end}}
