{{define "title"}}Manage Users{{end}}

{{define "main"}}
<main>
    <h1>Manage Users</h1>

    <form method="GET" id="select-user-form">
        <label for="select-user">
            Choose User:
        </label>
        <select name="username" id="select-user">
        {{range .Data.Usernames}}
            <option
                value="{{.}}"
                {{if eq . $.Data.Username}}
                selected
                {{end}}
            >{{.}}</option>
        {{end}}
        </select>
        <noscript>
            <button>Select</button>
        </noscript>
    </form>

    <h2>Permissions</h2>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="username" value="{{.Data.Username}}">
        {{if includes $.Data.UserPerms "admin"}}
        <input type="hidden" name="admin" value="on">
        {{end}}
        {{range .Data.Permissions}}
        <div>
            <label for="perm-{{.}}">{{.}}</label>
            <input
                type="checkbox"
                name="{{.}}"
                id="perm-{{.}}"
                {{if includes $.Data.UserPerms .}}
                checked
                {{if eq . "admin"}}
                disabled
                {{end}}
                {{end}}
            >
        </div>
        {{end}}
        <button>Update Permissions</button>
    </form>
    
    {{if .Data.ShowDelete}}
    <h2>Danger Zone</h2>
    <form method="POST" action="/users/delete" id="delete-user-form">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="username" value="{{.Data.Username}}">
        <button>Delete User</button>
    </form>
    {{end}}
</main>
{{end}}

{{define "scripts"}}
<script src="/static/scripts/users.js"></script>
{{end}}