{{define "title"}}Manage Users{{end}}

{{define "main"}}
<main>
    <h1>
        Manage Users
    </h1>
    <table>
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{.Data.Username}}</td>
            </tr>
            <tr>
                <th>Permissions</th>
                <td>{{join .Data.UserPerms}}</td>
            </tr>
        </tbody>
    </table>
    <div class="flex flex-wrap sm:flex-nowrap gap-8 flex-col sm:flex-row justify-between">
        <nav class="w-full sm:max-w-64">
            <form method="GET" id="select-user-form">
                <div class="flex flex-col border">
                    <label class="p-2 mb-0 border-b text-lg text-stone-500" for="select-user">
                        Select User
                    </label>
                    <select
                        name="username"
                        id="select-user"
                        size="6"
                    >
                    {{range .Data.Usernames}}
                        <option
                            value="{{.}}"
                            {{if eq . $.Data.Username}}
                            class="px-2 py-4 sm:py-1 font-bold bg-blue-200"
                            selected
                            {{else}}
                            class="px-2 py-4 sm:py-1 hover:cursor-pointer hover:bg-stone-100 hover:underline"
                            {{end}}
                        >{{.}}</option>
                    {{end}}
                    </select>
                    <noscript>
                        <button>Select</button>
                    </noscript>
                </div>
            </form>
        </nav>
        <section>
            <h2>
                Permissions
            </h2>
            <form method="POST" id="permissions-form">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="username" value="{{.Data.Username}}">
                {{if includes $.Data.UserPerms "admin"}}
                <input type="hidden" name="admin" value="on">
                {{end}}
                <div class="flex flex-wrap gap-4 sm:gap-2 py-4">
                    {{range .Data.Permissions}}
                    <div class="flex">
                        <input
                            class="peer appearance-none"
                            type="checkbox"
                            name="{{.}}"
                            id="perm-{{.}}"
                            {{if includes $.Data.UserPerms .}}
                            checked
                            {{if eq . "admin"}}
                            disabled
                            {{end}}
                            {{end}}
                        >
                        <label
                            class="w-32 py-2 text-center rounded-full border-2 border-stone-100 bg-stone-100 hover:cursor-pointer peer-checked:bg-blue-100 peer-checked:border-blue-400 peer-disabled:cursor-not-allowed"
                            for="perm-{{.}}"
                        >{{.}}</label>
                    </div>
                    {{end}}
                </div>
                <noscript>
                    <button>Update Permissions</button>
                </noscript>
            </form>
            {{if .Data.ShowDelete}}
            <h2 class="mt-8 mb-4">
                Danger Zone
            </h2>
            <form method="POST" action="/users/delete" id="delete-user-form">
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="username" value="{{.Data.Username}}">
                <button>
                    Delete User
                </button>
            </form>
            {{end}}
        </section>
    </div>
</main>
{{end}}

{{define "scripts"}}
<script src="/static/scripts/users.js"></script>
{{end}}